<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="note" class="nav-link" routerLinkActive="active">Note List</a>
    </li>
    <li class="nav-item">
      <a routerLink="add" class="nav-link" routerLinkActive="active">Add note</a>
    </li>
    <li class="nav-item">
      <a routerLink="project" class="nav-link" routerLinkActive="active">Project List</a>
    </li>
    <li class="nav-item">
      <a routerLink="project/add" class="nav-link" routerLinkActive="active">Add project</a>
    </li>
    <li class="nav-item">
      <a routerLink="person" class="nav-link" routerLinkActive="active">Person List</a>
    </li>
    <li class="nav-item">
      <a routerLink="person/add" class="nav-link" routerLinkActive="active">Add person</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>Marcin @JavaAngularTogether</span>
  </div>
</footer>
